body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    overflow-x: hidden;
    background: url('Resources/51dea358cef428a0056d2093b54de8ee.jpg') no-repeat center center fixed;
    background-size: cover; /* Ensure the background image covers the whole screen */
}


.navbar {
    display: flex;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 15px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    justify-content: flex-start; /* Align items to the left */
}

.navbar img {
    height: 50px;
    width: auto;
    margin-right: 20px; /* Space between logo and buttons */
}

.navbar .buttons-container {
    display: flex;
    gap: 10px; /* Space between buttons */
}

.navbar .menu-button {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    border: 2px solid transparent;
    border-radius: 5px;
}

.navbar .menu-button:hover {
    background-color: #555;
    border-color: #FF0202; /* Accent color on hover */
}

.navbar .contact {
    display: flex;
    align-items: center;
    gap: 20px; /* Space between phone and email */
    margin-left: auto; /* Push contact info to the right */
}

.navbar .contact p {
    margin: 0;
    display: inline-block;
}

.header {
    background: url('Resources/WhatsApp Image 2024-09-05 at 08.00.06_c35bf541.jpg') no-repeat center center;
    background-size: contain; /* Make sure the background covers the entire header area */
    height: auto; /* Allow height to adjust based on content */
    width: 100vw; /* Fixed typo here */
    display: flex;
    color: white;
    text-align: center;
}

.menu {
    max-width: 900px;
    margin: 40px auto; /* Gap for desktop */
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu h2 {
    text-align: center;
    color: #FF0202;
    font-size: 2em;
}

.menu select {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1em;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    display: flex;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
}

.menu ul li img {
    height: 100px;
    width: 100px;
    border-radius: 8px;
    object-fit: cover;
    margin-right: 20px;
}

.item-details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.menu .item-name {
    font-weight: bold;
    font-size: 1.5em;
    margin: 0;
}

.menu .item-price {
    color: #FF0202;
    font-size: 1.2em;
    margin: 5px 0;
}

.menu .item-description {
    margin: 10px 0 0;
    color: #666;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.social-media-links {
    margin-top: 10px;
}

.social-media-links a {
    color: white; /* Accent color */
    margin: 0 10px;
    text-decoration: none;
    font-size: 24px;
}

.social-media-links a:hover {
    color: #d00; /* Darker shade for hover effect */
}

.whatsapp-button {
    position: fixed;
    bottom: 2.5rem;
    right: 2.5rem;
    display: flex;
    align-items: center;
    background-color: #16a34a;
    border-radius: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 15px 25px;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.whatsapp-button i {
    margin-right: 10px;
    color: #25D366;
}

/* Responsive styles */
@media (max-width: 768px) {
    .navbar .contact {
        font-size: 12px;
    }

    .whatsapp-button {
        bottom: 1.5rem;
        right: 1.5rem;
        padding: 10px 20px;
        font-size: 14px;
    }

    .whatsapp-button i {
        font-size: 14px;
    }
}

@media (max-width: 1000px) {

    .menu {
        margin: 0 auto; /* Remove margin on mobile devices */
    }
    .navbar .contact {
        font-size: 10px;
    }
    .whatsapp-button {
        bottom: 1rem;
        right: 1rem;
        padding: 6px 12px;
        font-size: 12px;
    }
    .whatsapp-button i {
        font-size: 12px;
    }
}

.header {
    background: url('Resources/WhatsApp Image 2024-09-05 at 08.00.06_c35bf541.jpg') no-repeat center center;
    background-size: cover;
    height: calc(50vh + 20px); /* Default height for larger screens */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

@media (min-width: 768px) {
    .header {
        height: calc(35vh + 20px); /* Adjust height for tablets and laptops */
    }
}

@media (min-width: 1024px) {
    .header {
        height: calc(40vh + 20px);
    }
}

@media (max-width: 480px) {
    .header {
        height: calc(10vh + 10px); /* Further reduce height for mobile devices */
        font-size: 0.6rem; /* Adjust font size if needed */
    }
}

.history-section {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    background: url('Resources/550f46de1ee02e10cf7177b8bdf59686.jpg') no-repeat center center;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #000000;
    line-height: 1.8;
    position: relative;
    overflow: hidden;
}

.history-section h2 {
    text-align: center;
    color: #8b5e3c;
    font-size: 2em;
    margin-bottom: 20px;
}

.history-section img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 20px auto; /* Center the image horizontally */
    display: block; /* Ensures that the image behaves like a block-level element */
}

.history-section p {
    margin: 20px 0;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    font-size: 1rem;
    position: relative;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-content p {
    margin: 0;
    font-size: 0.9rem;
}

.social-media-links {
    margin-top: 10px;
}

.social-media-links a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-size: 24px;
}

.social-media-links a:hover {
    color: #FF0202; /* Accent color for hover */
}

.header {
    background: url('Resources/WhatsApp Image 2024-09-05 at 08.00.06_c35bf541.jpg') no-repeat center center;
    background-size: cover;
    height: calc(50vh + 20px); /* Default height for larger screens */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

@media (min-width: 768px) {
    .header {
        height: calc(35vh + 20px); /* Adjust height for tablets and laptops */
    }
}

@media (min-width: 1024px) {
    .header {
        height: calc(40vh + 20px);
    }
}

@media (max-width: 480px) {
    .header {
        height: calc(10vh + 10px); /* Further reduce height for mobile devices */
        font-size: 0.6rem; /* Adjust font size if needed */
    }
}

.contact-section {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center the text */
}

.contact-section h2 {
    color: #FF0202;
    font-size: 2em;
    margin-bottom: 20px;
}

.contact-section p {
    margin: 10px 0;
}

.contact-section form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-section form input, .contact-section form textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.contact-section form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #FF0202;
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-section form button:hover {
    background-color: #d00;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    font-size: 1rem;
    position: relative;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-content p {
    margin: 0;
    font-size: 0.9rem;
}

.social-media-links {
    margin-top: 10px;
}

.social-media-links a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-size: 24px;
}

.social-media-links a:hover {
    color: #FF0202; /* Accent color for hover */
}